@media screen and (min-width: 1280px){
    .portfolio-cover{
        background: #0d112b;
    }
    .my-portfolio{
        background: #0d112b;
        margin: 0 auto;
        max-width: 1600px;
        min-height: 90vh;
        /* padding: 150px 6rem; */
    }
    .portfolio-top{
        position: relative;
        min-height: 930px;
    }
    .portfolio-top canvas{
        min-height: 976px;
    }
    .portfolio-top div{
        display: flex;
        justify-content: flex-end;
    }
    .introduction{
        height: 100vh;
        min-height: 702px;
        padding-top: 130px;
        flex-direction: column;
        justify-content: flex-start !important;
        position: absolute;
        top:0;
        left: 11%;
        height: 500px;
        width: 36%;
    }
    .introduction h3{
        text-wrap: nowrap;
        font-size: 33px;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 50px;
        color: rgb(242, 243, 244);
        line-height: 68px;
        height: fit-content;
    }
    .introduction h4{
        text-wrap: nowrap;
        font-size: 33px;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 32px;
        color: rgb(242, 243, 244);
        line-height: 68px;
        height: fit-content;
    }
    .introduction span{
        text-wrap: nowrap;
        font-size: 32px;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        color: rgb(146 84 255);
        line-height: 68px;
        height: fit-content;
    }
    .introduction p{
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        line-height: 32px;
        margin-bottom: 42px;
        color: rgba(242, 243, 244, 0.584);
    }
    .buttons{
        justify-content: start !important;
    }
    .r-btn{
        font-size: 20px;
        font-weight: 500;
        background: -webkit-linear-gradient(225deg,rgba(146, 84, 255) 25%, rgb(0 58 220) 80%);
        background: linear-gradient(225deg,rgba(146, 84, 255) 25%, rgb(0 58 220) 80%);
        color: rgb(242, 243, 244);
        height: 65px;
        width: 240px;
        border-radius: 20px;
        transition: all 1s ease;
    }
    .g-btn{
        border: 2px solid rgb(133, 76, 230);
        font-size: 20px;
        font-weight: 500;
        color: rgb(242, 243, 244);
        height: 65px;
        width: 160px;
        border-radius: 20px;
        transition: all 1s ease;
    }
    .g-btn:hover{
        background-color: rgb(133, 76, 230);
    }
    .introduction a{
        width: max-content;
        border-radius: 20px;
        padding-right: 30px;
    }
    .introduction button:hover{
        transform: translateY(-10px);
        transition: all 1s ease;
    }
    .side-line{
        position: absolute;
        padding-right:1.5%;
        padding-left:8%;
        top: 0;
        left: 0;
        height: 100vh;
        min-height: 700px;
    }
    .menu-line{
        opacity: 0;
        position: absolute;
        top: 125px;
        justify-content: center !important;
        width: 1px;
        height: 510px;
        background: linear-gradient(225deg,rgba(146, 84, 255) 38%, rgb(0 58 220) 80%);
        background: -webkit-linear-gradient(225deg,rgba(146, 84, 255) 38%, rgb(0 58 220) 80%);
    }
    .portfolio-bottom{
        font-family: 'Poppins', sans-serif;
        padding: 80px 11%;
        position: relative;
        z-index: 5 !important;
        margin: -325px 0 0 0;
    }
    .portfolio-bottom h3{
        font-family: 'Poppins', sans-serif;
        font-size: 42px;
        text-align: center;
        font-weight: 600;
        margin-top: 20px;
        color: rgb(242, 243, 244);
    }
    .portfolio-bottom p{
        margin-top: 20px;
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        text-align: center;
        max-width: 600px;
        color: rgb(177, 178, 179);
    }
    .portfolio-skills, .portfolio-exp, .portfolio-projects, .portfolio-edu{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .skills-cards{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 40px;
        gap: 30px;
        -webkit-box-pack: center;
        justify-content: center;
    }
    .skills-cards h2{
        font-family: 'Poppins', sans-serif;
        font-size: 28px;
        font-weight: 600;
        color: rgb(177, 178, 179);
        margin-top: 10px;
        margin-bottom: 30px;
        text-align: center;
    }
    .skills-card-1, .skills-card-2, .skills-card-3, .skills-card-4, .skills-card-5, .skills-card-6{
        width: 100%;
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        border: 0.1px solid rgb(133, 76, 230);
        box-shadow: rgba(23, 92, 230, 0.15) 0px 4px 24px;
        border-radius: 16px;
        padding: 18px 36px;
    }
    .skills-card-elements{
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 12px;
        margin-bottom: 30px;
    }
    .skill-element{
        font-size: 16px !important;
        font-weight: 400 !important;
        color: rgba(242, 243, 244, 0.5);
        border: 1px solid rgba(242, 243, 244, 0.5);
        border-radius: 12px;
        padding: 12px 16px;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        gap: 8px;
    }
    .skill-element img{
        width: 24px;
        height: 24px;
    }
    .portfolio-exp{
        margin-top: 130px;
        font-family: 'Poppins', sans-serif;
    }
    .exp-list{
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        padding: 6px 16px;
        -webkit-box-flex: 1;
        flex-grow: 1;
    }
    .exp-list-item{
        list-style: none;
        display: flex;
        position: relative;
        min-height: 70px;
    }
    .exp-list-item::before{
        content: "";
        flex: 1 1 0%;
        padding: 6px 16px;
    }
    .exp-line{
        display: flex;
        flex-direction: column;
        flex: 0 1 0%;
        -webkit-box-align: center;
        align-items: center;
    }
    .exp-line-dot{
        display: flex;
        align-self: baseline;
        border-style: solid;
        border-width: 2px;
        padding: 4px;
        border-radius: 50%;
        box-shadow: none;
        margin: 11.5px 0px;
        background-color: transparent;
        border-color: rgba(183, 101, 255, 0.96);
    }
    .exp-line-line{
        background: rgb(133, 76, 230);
        width: 2px;
        -webkit-box-flex: 1;
        flex-grow: 1;
    }
    .exp-right{
        margin: 0px;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.5;
        letter-spacing: 0.00938em;
        flex: 1 1 0%;
        text-align: left;
        padding: 12px 16px;
    }
    .exp-details{
        width: 650px;
        border-radius: 10px;
        padding: 12px 16px;
        -webkit-box-pack: justify;
        justify-content: space-between;
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        gap: 12px;
        transition: all 0.3s ease-in-out 0s;
        border: 0.1px solid rgb(48, 110, 232);
        box-shadow: rgba(23, 92, 230, 0.15) 0px 4px 24px;
    }
    .exp-details-sec-1{
        width: 100%;
        display: flex;
        gap: 12px;
    }
    .exp-details-sec-1 img{
        height: 50px;
        background-color: rgb(0, 0, 0);
        border-radius: 10px;
        margin-top: 4px;
    }
    .exp-title{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .exp-title-head{
        font-size: 18px;
        font-weight: 600;
        color: rgba(242, 243, 244, 0.6);
    }
    .exp-title-name{
        font-size: 14px;
        font-weight: 500;
        color: rgba(177, 178, 179, 0.6);
    }
    .exp-title-date{
        font-size: 12px;
        font-weight: 400;
        color: rgba(177, 178, 179, 0.5);
    }
    .exp-details-sec-2{
        width: 100%;
        font-size: 15px;
        font-weight: 400;
        color: rgba(242, 243, 244, 0.6);
        margin-bottom: 10px;
    }
    .exp-details-sec-2 img{
        height: 70px;
        width: 55px;
        background-color: rgb(0, 0, 0);
        border-radius: 10px;
    }
    .exp-para{
        overflow: hidden;
        display: -webkit-box;
        max-width: 100%;
        -webkit-line-clamp: 4;
        line-clamp: 4;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
    }
    .exp-skills{
        width: 100%;
        display: flex;
        gap: 12px;
        margin-top: -10px;
    }
    .exp-skill-names{
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
    }
    .exp-skill-items{
        font-size: 15px;
        font-weight: 400;
        color: rgba(242, 243, 244, 0.6);
    }
    .exp-img{
        display: none;
    }
    .portfolio-projects{
        margin-top: 130px;
        font-family: 'Poppins', sans-serif;
    }
    .project-list{
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: start;
        gap: 30px;
    }
    .project-items{
        min-height: 509px;
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        cursor: pointer;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 12px 4px;
        overflow: hidden;
        padding: 26px 20px;
        display: flex;
        flex-direction: column;
        gap: 14px;
        transition: all 0.5s ease-in-out 0s;
    }
    .project-items img{
        width: 100%;
        height: 14vw;
        max-height: 215px;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 16px 2px;
    }
    .project-sec1{
        width: 100%;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 8px;
        margin-top: 4px;
    }
    .project-sec1 span{
        font-size: 12px;
        font-weight: 400;
        color: rgb(133, 76, 230);
        background-color: rgba(132, 76, 230, 0.13);
        padding: 2px 8px;
        border-radius: 10px;
    }
    .project-sec2{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0px;
        padding: 0px 2px;
    }
    .project-name{
        font-size: 20px;
        font-weight: 600;
        color: rgb(177, 178, 179);
        display: -webkit-box;
        max-width: 100%;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .project-date{
        font-size: 12px;
        margin-left: 2px;
        font-weight: 400;
        color: rgba(177, 178, 179, 0.5);
    }
    .project-para{
        font-weight: 400;
        color: rgba(177, 178, 179, 0.6);
        overflow: hidden;
        margin-top: 8px;
        display: -webkit-box;
        max-width: 100%;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
    }
    .portfolio-edu{
        margin-top: 130px;
        margin-bottom: 50px;
        font-family: 'Poppins', sans-serif;
    }
    .edu-list{
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        padding: 6px 16px;
        -webkit-box-flex: 1;
        flex-grow: 1;
    }
    .edu-list-item{
        list-style: none;
        display: flex;
        flex-direction: row-reverse;
        position: relative;
        min-height: 70px;
    }
    .edu-list-item::before{
        content: "";
        flex: 1 1 0%;
        padding: 6px 16px;
    }
    .edu-line{
        display: flex;
        flex-direction: column;
        flex: 0 1 0%;
        -webkit-box-align: center;
        align-items: center;
    }
    .edu-line-dot{
        display: flex;
        align-self: baseline;
        border-style: solid;
        border-width: 2px;
        padding: 4px;
        border-radius: 50%;
        box-shadow: none;
        margin: 11.5px 0px;
        background-color: transparent;
        border-color: rgba(183, 101, 255, 0.96);
    }
    .edu-line-line{
        background: rgb(133, 76, 230);
        width: 2px;
        -webkit-box-flex: 1;
        flex-grow: 1;
    }
    .edu-right{
        margin: 0px;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.5;
        letter-spacing: 0.00938em;
        flex: 1 1 0%;
        text-align: left;
        padding: 12px 16px;
    }
    .edu-details{
        width: 650px;
        border-radius: 10px;
        padding: 12px 16px;
        -webkit-box-pack: justify;
        justify-content: space-between;
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        gap: 12px;
        transition: all 0.3s ease-in-out 0s;
        border: 0.1px solid rgb(48, 110, 232);
        box-shadow: rgba(23, 92, 230, 0.15) 0px 4px 24px;
    }
    .edu-details-sec-1{
        width: 100%;
        display: flex;
        gap: 12px;
    }
    .edu-details-sec-1 img{
        height: 50px;
        background-color: rgb(0, 0, 0);
        border-radius: 10px;
        margin-top: 4px;
    }
    .edu-title{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .edu-title-head{
        font-size: 18px;
        font-weight: 600;
        color: rgba(242, 243, 244, 0.6);
    }
    .edu-title-name{
        font-size: 14px;
        font-weight: 500;
        color: rgba(177, 178, 179, 0.6);
    }
    .edu-title-date{
        font-size: 12px;
        font-weight: 400;
        color: rgba(177, 178, 179, 0.5);
    }
    .edu-details-sec-2{
        width: 100%;
        font-size: 15px;
        font-weight: 400;
        color: rgba(242, 243, 244, 0.6);
        margin-bottom: 10px;
    }
    .edu-details-sec-2 img{
        height: 70px;
        width: 55px;
        background-color: rgb(0, 0, 0);
        border-radius: 10px;
    }
    .edu-para{
        overflow: hidden;
        display: -webkit-box;
        max-width: 100%;
        -webkit-line-clamp: 4;
        line-clamp: 4;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
    }
    .edu-score{
        margin-bottom: 10px;
        display: flex;
        font-size: 14px;
        font-weight: 500;
        color: rgba(177, 178, 179, 0.6);
    }
}
@media screen and (min-width: 1025px) and (max-width: 1280px){
    .portfolio-cover{
        background: #0d112b;
    }
    .my-portfolio{
        background: #0d112b;
        margin: 0 auto;
        max-width: 1600px;
        min-height: 90vh;
        /* padding: 150px 6rem; */
    }
    .portfolio-top{
        position: relative;
        min-height: 930px;
    }
    .portfolio-top canvas{
        margin-right: -60px;
    }
    .portfolio-top div{
        display: flex;
        justify-content: flex-end;
    }
    .introduction{
        height: 100vh;
        min-height: 702px;
        padding-top: 130px;
        flex-direction: column;
        justify-content: flex-start !important;
        position: absolute;
        top:0;
        left: 7%;
        height: 500px;
        width: 36%;
    }
    .introduction h3{
        text-wrap: nowrap;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 45px;
        color: rgb(242, 243, 244);
        line-height: 40px;
        height: fit-content;
    }
    .introduction h4{
        text-wrap: nowrap;
        font-size: 26px;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        color: rgb(242, 243, 244);
        line-height: 68px;
        height: fit-content;
    }
    .introduction span{
        text-wrap: nowrap;
        font-size: 26px;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        color: rgb(146 84 255);
        line-height: 68px;
        height: fit-content;
    }
    .introduction p{
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 42px;
        color: rgba(242, 243, 244, 0.584);
    }
    .buttons{
        justify-content: start !important;
    }
    .r-btn{
        font-size: 18px;
        font-weight: 500;
        background: -webkit-linear-gradient(225deg,rgba(146, 84, 255) 25%, rgb(0 58 220) 80%);
        background: linear-gradient(225deg,rgba(146, 84, 255) 25%, rgb(0 58 220) 80%);
        color: rgb(242, 243, 244);
        height: 60px;
        width: 220px;
        border-radius: 20px;
        transition: all 1s ease;
    }
    .g-btn{
        border: 2px solid rgb(133, 76, 230);
        font-size: 18px;
        font-weight: 500;
        color: rgb(242, 243, 244);
        height: 60px;
        width: 140px;
        border-radius: 20px;
        transition: all 1s ease;
    }
    .g-btn:hover{
        background-color: rgb(133, 76, 230);
    }
    .introduction a{
        width: max-content;
        border-radius: 20px;
        padding-right: 30px;
    }
    .introduction button:hover{
        transform: translateY(-10px);
        transition: all 1s ease;
    }
    .side-line{
        position: absolute;
        padding-right:1.5%;
        padding-left:8%;
        top: 0;
        left: 0;
        height: 100vh;
        min-height: 700px;
    }
    .menu-line{
        opacity: 0;
        position: absolute;
        top: 125px;
        justify-content: center !important;
        width: 1px;
        height: 510px;
        background: linear-gradient(225deg,rgba(146, 84, 255) 38%, rgb(0 58 220) 80%);
        background: -webkit-linear-gradient(225deg,rgba(146, 84, 255) 38%, rgb(0 58 220) 80%);
    }
    .portfolio-bottom{
        font-family: 'Poppins', sans-serif;
        padding: 80px 7%;
        position: relative;
        z-index: 5 !important;
        margin: -325px 0 0 0;
    }
    .portfolio-bottom h3{
        font-family: 'Poppins', sans-serif;
        font-size: 42px;
        text-align: center;
        font-weight: 600;
        margin-top: 20px;
        color: rgb(242, 243, 244);
    }
    .portfolio-bottom p{
        margin-top: 20px;
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        text-align: center;
        max-width: 600px;
        color: rgb(177, 178, 179);
    }
    .portfolio-skills, .portfolio-exp, .portfolio-projects, .portfolio-edu{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .skills-cards{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 40px;
        gap: 30px;
        -webkit-box-pack: center;
        justify-content: center;
    }
    .skills-cards h2{
        font-family: 'Poppins', sans-serif;
        font-size: 28px;
        font-weight: 600;
        color: rgb(177, 178, 179);
        margin-top: 10px;
        margin-bottom: 30px;
        text-align: center;
    }
    .skills-card-1, .skills-card-2, .skills-card-3, .skills-card-4, .skills-card-5, .skills-card-6{
        width: 100%;
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        border: 0.1px solid rgb(133, 76, 230);
        box-shadow: rgba(23, 92, 230, 0.15) 0px 4px 24px;
        border-radius: 16px;
        padding: 18px 36px;
    }
    .skills-card-elements{
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 12px;
        margin-bottom: 30px;
    }
    .skill-element{
        font-size: 16px !important;
        font-weight: 400 !important;
        color: rgba(242, 243, 244, 0.5);
        border: 1px solid rgba(242, 243, 244, 0.5);
        border-radius: 12px;
        padding: 12px 16px;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        gap: 8px;
    }
    .skill-element img{
        width: 24px;
        height: 24px;
    }
    .portfolio-exp{
        margin-top: 130px;
        font-family: 'Poppins', sans-serif;
    }
    .exp-list{
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        padding: 6px 16px;
        -webkit-box-flex: 1;
        flex-grow: 1;
    }
    .exp-list-item{
        list-style: none;
        display: flex;
        position: relative;
        min-height: 70px;
    }
    .exp-list-item::before{
        content: "";
        flex: 1 1 0%;
        padding: 6px 16px;
    }
    .exp-line{
        display: flex;
        flex-direction: column;
        flex: 0 1 0%;
        -webkit-box-align: center;
        align-items: center;
    }
    .exp-line-dot{
        display: flex;
        align-self: baseline;
        border-style: solid;
        border-width: 2px;
        padding: 4px;
        border-radius: 50%;
        box-shadow: none;
        margin: 11.5px 0px;
        background-color: transparent;
        border-color: rgba(183, 101, 255, 0.96);
    }
    .exp-line-line{
        background: rgb(133, 76, 230);
        width: 2px;
        -webkit-box-flex: 1;
        flex-grow: 1;
    }
    .exp-right{
        margin: 0px;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.5;
        letter-spacing: 0.00938em;
        flex: 1 1 0%;
        text-align: left;
        padding: 12px 16px;
    }
    .exp-details{
        width: 650px;
        border-radius: 10px;
        padding: 12px 16px;
        -webkit-box-pack: justify;
        justify-content: space-between;
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        gap: 12px;
        transition: all 0.3s ease-in-out 0s;
        border: 0.1px solid rgb(48, 110, 232);
        box-shadow: rgba(23, 92, 230, 0.15) 0px 4px 24px;
    }
    .exp-details-sec-1{
        width: 100%;
        display: flex;
        gap: 12px;
    }
    .exp-details-sec-1 img{
        height: 50px;
        background-color: rgb(0, 0, 0);
        border-radius: 10px;
        margin-top: 4px;
    }
    .exp-title{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .exp-title-head{
        font-size: 18px;
        font-weight: 600;
        color: rgba(242, 243, 244, 0.6);
    }
    .exp-title-name{
        font-size: 14px;
        font-weight: 500;
        color: rgba(177, 178, 179, 0.6);
    }
    .exp-title-date{
        font-size: 12px;
        font-weight: 400;
        color: rgba(177, 178, 179, 0.5);
    }
    .exp-details-sec-2{
        width: 100%;
        font-size: 15px;
        font-weight: 400;
        color: rgba(242, 243, 244, 0.6);
        margin-bottom: 10px;
    }
    .exp-details-sec-2 img{
        height: 70px;
        width: 55px;
        background-color: rgb(0, 0, 0);
        border-radius: 10px;
    }
    .exp-para{
        overflow: hidden;
        display: -webkit-box;
        max-width: 100%;
        -webkit-line-clamp: 4;
        line-clamp: 4;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
    }
    .exp-skills{
        width: 100%;
        display: flex;
        gap: 12px;
        margin-top: -10px;
    }
    .exp-skill-names{
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
    }
    .exp-skill-items{
        font-size: 15px;
        font-weight: 400;
        color: rgba(242, 243, 244, 0.6);
    }
    .exp-img{
        display: none;
    }
    .portfolio-projects{
        margin-top: 130px;
        font-family: 'Poppins', sans-serif;
    }
    .project-list{
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: start;
        gap: 30px;
    }
    .project-items{
        min-height: 584px;
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        cursor: pointer;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 12px 4px;
        overflow: hidden;
        padding: 26px 20px;
        display: flex;
        flex-direction: column;
        gap: 14px;
        transition: all 0.5s ease-in-out 0s;
    }
    .project-items img{
        width: 100%;
        height: 25vw;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 16px 2px;
    }
    .project-sec1{
        width: 100%;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 8px;
        margin-top: 4px;
    }
    .project-sec1 span{
        font-size: 12px;
        font-weight: 400;
        color: rgb(133, 76, 230);
        background-color: rgba(132, 76, 230, 0.13);
        padding: 2px 8px;
        border-radius: 10px;
    }
    .project-sec2{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0px;
        padding: 0px 2px;
    }
    .project-name{
        font-size: 20px;
        font-weight: 600;
        color: rgb(177, 178, 179);
        display: -webkit-box;
        max-width: 100%;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .project-date{
        font-size: 12px;
        margin-left: 2px;
        font-weight: 400;
        color: rgba(177, 178, 179, 0.5);
    }
    .project-para{
        font-weight: 400;
        color: rgba(177, 178, 179, 0.6);
        overflow: hidden;
        margin-top: 8px;
        display: -webkit-box;
        max-width: 100%;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
    }
    .portfolio-edu{
        margin-top: 130px;
        margin-bottom: 50px;
        font-family: 'Poppins', sans-serif;
    }
    .edu-list{
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        padding: 6px 16px;
        -webkit-box-flex: 1;
        flex-grow: 1;
    }
    .edu-list-item{
        list-style: none;
        display: flex;
        flex-direction: row-reverse;
        position: relative;
        min-height: 70px;
    }
    .edu-list-item::before{
        content: "";
        flex: 1 1 0%;
        padding: 6px 16px;
    }
    .edu-line{
        display: flex;
        flex-direction: column;
        flex: 0 1 0%;
        -webkit-box-align: center;
        align-items: center;
    }
    .edu-line-dot{
        display: flex;
        align-self: baseline;
        border-style: solid;
        border-width: 2px;
        padding: 4px;
        border-radius: 50%;
        box-shadow: none;
        margin: 11.5px 0px;
        background-color: transparent;
        border-color: rgba(183, 101, 255, 0.96);
    }
    .edu-line-line{
        background: rgb(133, 76, 230);
        width: 2px;
        -webkit-box-flex: 1;
        flex-grow: 1;
    }
    .edu-right{
        margin: 0px;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.5;
        letter-spacing: 0.00938em;
        flex: 1 1 0%;
        text-align: left;
        padding: 12px 16px;
    }
    .edu-details{
        width: 650px;
        border-radius: 10px;
        padding: 12px 16px;
        -webkit-box-pack: justify;
        justify-content: space-between;
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        gap: 12px;
        transition: all 0.3s ease-in-out 0s;
        border: 0.1px solid rgb(48, 110, 232);
        box-shadow: rgba(23, 92, 230, 0.15) 0px 4px 24px;
    }
    .edu-details-sec-1{
        width: 100%;
        display: flex;
        gap: 12px;
    }
    .edu-details-sec-1 img{
        height: 50px;
        background-color: rgb(0, 0, 0);
        border-radius: 10px;
        margin-top: 4px;
    }
    .edu-title{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .edu-title-head{
        font-size: 18px;
        font-weight: 600;
        color: rgba(242, 243, 244, 0.6);
    }
    .edu-title-name{
        font-size: 14px;
        font-weight: 500;
        color: rgba(177, 178, 179, 0.6);
    }
    .edu-title-date{
        font-size: 12px;
        font-weight: 400;
        color: rgba(177, 178, 179, 0.5);
    }
    .edu-details-sec-2{
        width: 100%;
        font-size: 15px;
        font-weight: 400;
        color: rgba(242, 243, 244, 0.6);
        margin-bottom: 10px;
    }
    .edu-details-sec-2 img{
        height: 70px;
        width: 55px;
        background-color: rgb(0, 0, 0);
        border-radius: 10px;
    }
    .edu-para{
        overflow: hidden;
        display: -webkit-box;
        max-width: 100%;
        -webkit-line-clamp: 4;
        line-clamp: 4;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
    }
    .edu-score{
        margin-bottom: 10px;
        display: flex;
        font-size: 14px;
        font-weight: 500;
        color: rgba(177, 178, 179, 0.6);
    }
}
@media screen and (min-width: 765px) and (max-width: 1025px){
    .portfolio-cover{
        background: #0d112b;
    }
    .my-portfolio{
        background: #0d112b;
        margin: 0 auto;
        max-width: 1600px;
        min-height: 90vh;
        /* padding: 150px 6rem; */
    }
    .portfolio-top{
        position: relative;
    }
    .portfolio-top canvas{
        margin-top: -130px;
        width: 165vw !important;
        height: 165vw !important;
    }
    .portfolio-top div{
        display: flex;
        justify-content: flex-end;
    }
    .introduction{
        position: relative;
        z-index: 5 !important;
        height: 100vh;
        min-height: 702px;
        margin-top: -500px;
        padding: 0 7% 0 7%;
        flex-direction: column;
        justify-content: flex-start !important;
        height: 500px;
        width: 100%;
    }
    .introduction h3{
        text-wrap: nowrap;
        font-size: 33px;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 50px;
        color: rgb(242, 243, 244);
        line-height: 68px;
        height: fit-content;
    }
    .introduction h4{
        text-wrap: nowrap;
        font-size: 33px;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 32px;
        color: rgb(242, 243, 244);
        line-height: 68px;
        height: fit-content;
    }
    .introduction span{
        text-wrap: nowrap;
        font-size: 32px;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        color: rgb(146 84 255);
        line-height: 68px;
        height: fit-content;
    }
    .introduction p{
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        line-height: 32px;
        margin-bottom: 42px;
        color: rgba(242, 243, 244, 0.584);
    }
    .buttons{
        justify-content: start !important;
    }
    .r-btn{
        font-size: 20px;
        font-weight: 500;
        background: -webkit-linear-gradient(225deg,rgba(146, 84, 255) 25%, rgb(0 58 220) 80%);
        background: linear-gradient(225deg,rgba(146, 84, 255) 25%, rgb(0 58 220) 80%);
        color: rgb(242, 243, 244);
        height: 65px;
        width: 240px;
        border-radius: 20px;
        transition: all 1s ease;
    }
    .g-btn{
        border: 2px solid rgb(133, 76, 230);
        font-size: 20px;
        font-weight: 500;
        color: rgb(242, 243, 244);
        height: 65px;
        width: 160px;
        border-radius: 20px;
        transition: all 1s ease;
    }
    .g-btn:hover{
        background-color: rgb(133, 76, 230);
    }
    .introduction a{
        width: max-content;
        border-radius: 20px;
        padding-right: 30px;
    }
    .introduction button:hover{
        transform: translateY(-10px);
        transition: all 1s ease;
    }
    .side-line{
        position: absolute;
        padding-right:1.5%;
        padding-left:8%;
        top: 0;
        left: 0;
        height: 100vh;
        min-height: 700px;
    }
    .menu-line{
        opacity: 0;
        position: absolute;
        top: 125px;
        justify-content: center !important;
        width: 1px;
        height: 510px;
        background: linear-gradient(225deg,rgba(146, 84, 255) 38%, rgb(0 58 220) 80%);
        background: -webkit-linear-gradient(225deg,rgba(146, 84, 255) 38%, rgb(0 58 220) 80%);
    }
    .portfolio-bottom{
        font-family: 'Poppins', sans-serif;
        padding: 80px 7%;
        position: relative;
        z-index: 5 !important;
        margin: -240px 0 0 0;
    }
    .portfolio-bottom h3{
        font-family: 'Poppins', sans-serif;
        font-size: 42px;
        text-align: center;
        font-weight: 600;
        margin-top: 20px;
        color: rgb(242, 243, 244);
    }
    .portfolio-bottom p{
        margin-top: 20px;
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        text-align: center;
        max-width: 600px;
        color: rgb(177, 178, 179);
    }
    .portfolio-skills, .portfolio-exp, .portfolio-projects, .portfolio-edu{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .skills-cards{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 40px;
        gap: 30px;
        -webkit-box-pack: center;
        justify-content: center;
    }
    .skills-cards h2{
        font-family: 'Poppins', sans-serif;
        font-size: 28px;
        font-weight: 600;
        color: rgb(177, 178, 179);
        margin-top: 10px;
        margin-bottom: 30px;
        text-align: center;
    }
    .skills-card-1, .skills-card-2, .skills-card-3, .skills-card-4, .skills-card-5, .skills-card-6{
        width: 100%;
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        border: 0.1px solid rgb(133, 76, 230);
        box-shadow: rgba(23, 92, 230, 0.15) 0px 4px 24px;
        border-radius: 16px;
        padding: 18px 36px;
    }
    .skills-card-elements{
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 12px;
        margin-bottom: 30px;
    }
    .skill-element{
        font-size: 16px !important;
        font-weight: 400 !important;
        color: rgba(242, 243, 244, 0.5);
        border: 1px solid rgba(242, 243, 244, 0.5);
        border-radius: 12px;
        padding: 12px 16px;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        gap: 8px;
    }
    .skill-element img{
        width: 24px;
        height: 24px;
    }
    .portfolio-exp{
        margin-top: 130px;
        font-family: 'Poppins', sans-serif;
    }
    .exp-list{
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        padding: 6px 16px;
        -webkit-box-flex: 1;
        flex-grow: 1;
    }
    .exp-list-item{
        list-style: none;
        display: flex;
        position: relative;
        min-height: 70px;
    }
    .exp-list-item::before{
        content: "";
        flex: 1 1 0%;
        padding: 6px 16px;
    }
    .exp-line{
        display: flex;
        flex-direction: column;
        flex: 0 1 0%;
        -webkit-box-align: center;
        align-items: center;
    }
    .exp-line-dot{
        display: flex;
        align-self: baseline;
        border-style: solid;
        border-width: 2px;
        padding: 4px;
        border-radius: 50%;
        box-shadow: none;
        margin: 11.5px 0px;
        background-color: transparent;
        border-color: rgba(183, 101, 255, 0.96);
    }
    .exp-line-line{
        background: rgb(133, 76, 230);
        width: 2px;
        -webkit-box-flex: 1;
        flex-grow: 1;
    }
    .exp-right{
        margin: 0px;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.5;
        letter-spacing: 0.00938em;
        flex: 1 1 0%;
        text-align: left;
        padding: 12px 16px;
    }
    .exp-details{
        width: 650px;
        border-radius: 10px;
        padding: 12px 16px;
        -webkit-box-pack: justify;
        justify-content: space-between;
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        gap: 12px;
        transition: all 0.3s ease-in-out 0s;
        border: 0.1px solid rgb(48, 110, 232);
        box-shadow: rgba(23, 92, 230, 0.15) 0px 4px 24px;
    }
    .exp-details-sec-1{
        width: 100%;
        display: flex;
        gap: 12px;
    }
    .exp-details-sec-1 img{
        height: 50px;
        background-color: rgb(0, 0, 0);
        border-radius: 10px;
        margin-top: 4px;
    }
    .exp-title{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .exp-title-head{
        font-size: 18px;
        font-weight: 600;
        color: rgba(242, 243, 244, 0.6);
    }
    .exp-title-name{
        font-size: 14px;
        font-weight: 500;
        color: rgba(177, 178, 179, 0.6);
    }
    .exp-title-date{
        font-size: 12px;
        font-weight: 400;
        color: rgba(177, 178, 179, 0.5);
    }
    .exp-details-sec-2{
        width: 100%;
        font-size: 15px;
        font-weight: 400;
        color: rgba(242, 243, 244, 0.6);
        margin-bottom: 10px;
    }
    .exp-details-sec-2 img{
        height: 70px;
        width: 55px;
        background-color: rgb(0, 0, 0);
        border-radius: 10px;
    }
    .exp-para{
        overflow: hidden;
        display: -webkit-box;
        max-width: 100%;
        -webkit-line-clamp: 4;
        line-clamp: 4;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
    }
    .exp-skills{
        width: 100%;
        display: flex;
        gap: 12px;
        margin-top: -10px;
    }
    .exp-skill-names{
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
    }
    .exp-skill-items{
        font-size: 15px;
        font-weight: 400;
        color: rgba(242, 243, 244, 0.6);
    }
    .exp-img{
        display: none;
    }
    .portfolio-projects{
        margin-top: 130px;
        font-family: 'Poppins', sans-serif;
    }
    .project-list{
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: start;
        gap: 30px;
    }
    .project-items{
        min-height: 504px;
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        cursor: pointer;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 12px 4px;
        overflow: hidden;
        padding: 26px 20px;
        display: flex;
        flex-direction: column;
        gap: 14px;
        transition: all 0.5s ease-in-out 0s;
    }
    .project-items img{
        width: 100%;
        height: 25vw;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 16px 2px;
    }
    .project-sec1{
        width: 100%;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 8px;
        margin-top: 4px;
    }
    .project-sec1 span{
        font-size: 12px;
        font-weight: 400;
        color: rgb(133, 76, 230);
        background-color: rgba(132, 76, 230, 0.13);
        padding: 2px 8px;
        border-radius: 10px;
    }
    .project-sec2{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0px;
        padding: 0px 2px;
    }
    .project-name{
        font-size: 20px;
        font-weight: 600;
        color: rgb(177, 178, 179);
        display: -webkit-box;
        max-width: 100%;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .project-date{
        font-size: 12px;
        margin-left: 2px;
        font-weight: 400;
        color: rgba(177, 178, 179, 0.5);
    }
    .project-para{
        font-weight: 400;
        color: rgba(177, 178, 179, 0.6);
        overflow: hidden;
        margin-top: 8px;
        display: -webkit-box;
        max-width: 100%;
        -webkit-line-clamp: 18;
        line-clamp: 18;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
    }
    .portfolio-edu{
        margin-top: 130px;
        margin-bottom: 50px;
        font-family: 'Poppins', sans-serif;
    }
    .edu-list{
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        padding: 6px 16px;
        -webkit-box-flex: 1;
        flex-grow: 1;
    }
    .edu-list-item{
        list-style: none;
        display: flex;
        flex-direction: row-reverse;
        position: relative;
        min-height: 70px;
    }
    .edu-list-item::before{
        content: "";
        flex: 1 1 0%;
        padding: 6px 16px;
    }
    .edu-line{
        display: flex;
        flex-direction: column;
        flex: 0 1 0%;
        -webkit-box-align: center;
        align-items: center;
    }
    .edu-line-dot{
        display: flex;
        align-self: baseline;
        border-style: solid;
        border-width: 2px;
        padding: 4px;
        border-radius: 50%;
        box-shadow: none;
        margin: 11.5px 0px;
        background-color: transparent;
        border-color: rgba(183, 101, 255, 0.96);
    }
    .edu-line-line{
        background: rgb(133, 76, 230);
        width: 2px;
        -webkit-box-flex: 1;
        flex-grow: 1;
    }
    .edu-right{
        margin: 0px;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.5;
        letter-spacing: 0.00938em;
        flex: 1 1 0%;
        text-align: left;
        padding: 12px 16px;
    }
    .edu-details{
        width: 650px;
        border-radius: 10px;
        padding: 12px 16px;
        -webkit-box-pack: justify;
        justify-content: space-between;
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        gap: 12px;
        transition: all 0.3s ease-in-out 0s;
        border: 0.1px solid rgb(48, 110, 232);
        box-shadow: rgba(23, 92, 230, 0.15) 0px 4px 24px;
    }
    .edu-details-sec-1{
        width: 100%;
        display: flex;
        gap: 12px;
    }
    .edu-details-sec-1 img{
        height: 50px;
        background-color: rgb(0, 0, 0);
        border-radius: 10px;
        margin-top: 4px;
    }
    .edu-title{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .edu-title-head{
        font-size: 18px;
        font-weight: 600;
        color: rgba(242, 243, 244, 0.6);
    }
    .edu-title-name{
        font-size: 14px;
        font-weight: 500;
        color: rgba(177, 178, 179, 0.6);
    }
    .edu-title-date{
        font-size: 12px;
        font-weight: 400;
        color: rgba(177, 178, 179, 0.5);
    }
    .edu-details-sec-2{
        width: 100%;
        font-size: 15px;
        font-weight: 400;
        color: rgba(242, 243, 244, 0.6);
        margin-bottom: 10px;
    }
    .edu-details-sec-2 img{
        height: 70px;
        width: 55px;
        background-color: rgb(0, 0, 0);
        border-radius: 10px;
    }
    .edu-para{
        overflow: hidden;
        display: -webkit-box;
        max-width: 100%;
        -webkit-line-clamp: 4;
        line-clamp: 4;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
    }
    .edu-score{
        margin-bottom: 10px;
        display: flex;
        font-size: 14px;
        font-weight: 500;
        color: rgba(177, 178, 179, 0.6);
    }
}
@media screen and (max-width: 765px){
    .portfolio-cover{
        background: #0d112b;
    }
    .my-portfolio{
        background: #0d112b;
        margin: 0 auto;
        max-width: 1600px;
        min-height: 90vh;
        /* padding: 150px 6rem; */
    }
    .portfolio-top{
        position: relative;
    }
    .portfolio-top canvas{
        width: 170vw !important;
        height: 170vw !important;
    }
    .portfolio-top div{
        display: flex;
        justify-content: flex-end;
    }
    .introduction{
        position: relative;
        z-index: 5 !important;
        height: 100vh;
        min-height: 702px;
        margin-top: -220px;
        padding: 0 1.5rem 0 1.5rem;
        flex-direction: column;
        justify-content: flex-start !important;
    }
    .introduction h3{
        text-wrap: nowrap;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
        margin-bottom: 8px;
        color: rgb(242, 243, 244);
        height: fit-content;
        text-align: center;
    }
    .introduction h4{
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 38px;
        margin-bottom: 16px;
        color: rgb(242, 243, 244);
        height: fit-content;
        text-align: center;
    }
    .introduction span{
        font-size: 18px;
        line-height: 38px;
        margin-bottom: 16px;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        color: rgb(146 84 255);
        height: fit-content;
        text-align: center;
    }
    .introduction p{
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        line-height: 32px;
        margin-bottom: 42px;
        color: rgba(242, 243, 244, 0.584);
        text-align: center;
    }
    .buttons{
        justify-content: center !important;
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
    }
    .r-btn{
        font-size: 20px;
        font-weight: 500;
        background: -webkit-linear-gradient(225deg,rgba(146, 84, 255) 25%, rgb(0 58 220) 80%);
        background: linear-gradient(225deg,rgba(146, 84, 255) 25%, rgb(0 58 220) 80%);
        color: rgb(242, 243, 244);
        height: 50px;
        width: 200px;
        border-radius: 20px;
        transition: all 1s ease;
    }
    .g-btn{
        border: 2px solid rgb(133, 76, 230);
        font-size: 20px;
        font-weight: 500;
        color: rgb(242, 243, 244);
        height: 50px;
        width: 120px;
        border-radius: 20px;
        transition: all 1s ease;
        margin-right: 0 !important;
    }
    .g-btn:hover{
        background-color: rgb(133, 76, 230);
    }
    .introduction a{
        width: max-content;
        border-radius: 20px;
    }
    .introduction button:hover{
        transform: translateY(-10px);
        transition: all 1s ease;
    }
    .side-line{
        position: absolute;
        padding-right:1.5%;
        padding-left:8%;
        top: 0;
        left: 0;
        height: 100vh;
        min-height: 700px;
    }
    .menu-line{
        opacity: 0;
        position: absolute;
        top: 125px;
        justify-content: center !important;
        width: 1px;
        height: 510px;
        background: linear-gradient(225deg,rgba(146, 84, 255) 38%, rgb(0 58 220) 80%);
        background: -webkit-linear-gradient(225deg,rgba(146, 84, 255) 38%, rgb(0 58 220) 80%);
    }
    .portfolio-bottom{
        font-family: 'Poppins', sans-serif;
        padding: 80px 1.5rem;
        position: relative;
        z-index: 5 !important;
        margin: -180px 0 0 0;
    }
    .portfolio-bottom h3{
        font-family: 'Poppins', sans-serif;
        font-size: 32px;
        text-align: center;
        font-weight: 600;
        margin-top: 20px;
        color: rgb(242, 243, 244);
    }
    .portfolio-bottom p{
        margin-top: 20px;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        text-align: center;
        max-width: 600px;
        color: rgb(177, 178, 179);
    }
    .portfolio-skills, .portfolio-exp, .portfolio-projects, .portfolio-edu{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .skills-cards{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-top: 40px;
        gap: 30px;
        -webkit-box-pack: center;
        justify-content: center;
    }
    .skills-cards h2{
        font-family: 'Poppins', sans-serif;
        font-size: 28px;
        font-weight: 600;
        color: rgb(177, 178, 179);
        margin-top: 10px;
        margin-bottom: 30px;
        text-align: center;
    }
    .skills-card-1, .skills-card-2, .skills-card-3, .skills-card-4, .skills-card-5, .skills-card-6{
        width: 100%;
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        border: 0.1px solid rgb(133, 76, 230);
        box-shadow: rgba(23, 92, 230, 0.15) 0px 4px 24px;
        border-radius: 16px;
        padding: 18px 36px;
    }
    .skills-card-elements{
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 12px;
        margin-bottom: 30px;
    }
    .skill-element{
        font-size: 14px !important;
        font-weight: 400 !important;
        color: rgba(242, 243, 244, 0.5);
        border: 1px solid rgba(242, 243, 244, 0.5);
        border-radius: 12px;
        padding: 6px 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
    }
    .skill-element img{
        width: 24px;
        height: 24px;
    }
    .portfolio-exp{
        margin-top: 80px;
        font-family: 'Poppins', sans-serif;
    }
    .exp-list{
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        padding: 6px 0;
        -webkit-box-flex: 1;
        flex-grow: 1;
    }
    .exp-list-item{
        list-style: none;
        display: flex;
        position: relative;
        min-height: 70px;
    }
    .exp-line{
        display: flex;
        flex-direction: column;
        flex: 0 1 0%;
        -webkit-box-align: center;
        align-items: center;
    }
    .exp-line-dot{
        display: flex;
        align-self: baseline;
        border-style: solid;
        border-width: 2px;
        padding: 4px;
        border-radius: 50%;
        box-shadow: none;
        margin: 11.5px 0px;
        background-color: transparent;
        border-color: rgba(183, 101, 255, 0.96);
    }
    .exp-line-line{
        background: rgb(133, 76, 230);
        width: 2px;
        -webkit-box-flex: 1;
        flex-grow: 1;
    }
    .exp-right{
        margin: 0px;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.5;
        letter-spacing: 0.00938em;
        flex: 1 1 0%;
        text-align: left;
        padding: 12px 16px;
    }
    .exp-details{
        width: 100%;
        border-radius: 10px;
        padding: 12px 16px;
        -webkit-box-pack: justify;
        justify-content: space-between;
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        gap: 12px;
        transition: all 0.3s ease-in-out 0s;
        border: 0.1px solid rgb(48, 110, 232);
        box-shadow: rgba(23, 92, 230, 0.15) 0px 4px 24px;
    }
    .exp-details-sec-1{
        width: 100%;
        display: flex;
        gap: 12px;
    }
    .exp-details-sec-1 img{
        height: 50px;
        background-color: rgb(0, 0, 0);
        border-radius: 10px;
        margin-top: 4px;
    }
    .exp-title{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .exp-title-head{
        font-size: 14px;
        font-weight: 600;
        color: rgba(242, 243, 244, 0.6);
    }
    .exp-title-name{
        font-size: 12px;
        font-weight: 500;
        color: rgba(177, 178, 179, 0.6);
    }
    .exp-title-date{
        font-size: 10px;
        font-weight: 400;
        color: rgba(177, 178, 179, 0.5);
    }
    .exp-details-sec-2{
        width: 100%;
        font-size: 12px;
        font-weight: 400;
        color: rgba(242, 243, 244, 0.6);
        margin-bottom: 10px;
    }
    .exp-details-sec-2 img{
        height: 70px;
        width: 55px;
        background-color: rgb(0, 0, 0);
        border-radius: 10px;
    }
    .exp-para{
        overflow: hidden;
        display: -webkit-box;
        max-width: 100%;
        -webkit-line-clamp: 4;
        line-clamp: 4;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
    }
    .exp-skills{
        width: 100%;
        display: flex;
        gap: 12px;
        margin-top: -10px;
    }
    .exp-skill-names{
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
    }
    .exp-skill-items{
        font-size: 12px;
        font-weight: 400;
        color: rgba(242, 243, 244, 0.6);
    }
    .exp-img{
        display: none;
    }
    .portfolio-projects{
        margin-top: 80px;
        font-family: 'Poppins', sans-serif;
    }
    .project-list{
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: start;
        gap: 30px;
    }
    .project-items{
        min-height: 504px;
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        cursor: pointer;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 12px 4px;
        overflow: hidden;
        padding: 26px 20px;
        display: flex;
        flex-direction: column;
        gap: 14px;
        transition: all 0.5s ease-in-out 0s;
    }
    .project-items img{
        width: 100%;
        height: 50vw;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 16px 2px;
    }
    .project-sec1{
        width: 100%;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 8px;
        margin-top: 4px;
    }
    .project-sec1 span{
        font-size: 12px;
        font-weight: 400;
        color: rgb(133, 76, 230);
        background-color: rgba(132, 76, 230, 0.13);
        padding: 2px 8px;
        border-radius: 10px;
    }
    .project-sec2{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0px;
        padding: 0px 2px;
    }
    .project-name{
        font-size: 20px;
        font-weight: 600;
        color: rgb(177, 178, 179);
        display: -webkit-box;
        max-width: 100%;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .project-date{
        font-size: 12px;
        margin-left: 2px;
        font-weight: 400;
        color: rgba(177, 178, 179, 0.5);
    }
    .project-para{
        font-size: 14px;
        font-weight: 400;
        color: rgba(177, 178, 179, 0.6);
        overflow: hidden;
        margin-top: 8px;
        display: -webkit-box;
        max-width: 100%;
        -webkit-line-clamp: 18;
        line-clamp: 18;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
    }
    .portfolio-edu{
        margin-top: 80px;
        margin-bottom: 50px;
        font-family: 'Poppins', sans-serif;
    }
    .edu-list{
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        padding: 6px 0px;
        -webkit-box-flex: 1;
        flex-grow: 1;
    }
    .edu-list-item{
        list-style: none;
        display: flex;
        flex-direction: row-reverse;
        position: relative;
        min-height: 70px;
    }
    .edu-line{
        display: flex;
        flex-direction: column;
        flex: 0 1 0%;
        -webkit-box-align: center;
        align-items: center;
    }
    .edu-line-dot{
        display: flex;
        align-self: baseline;
        border-style: solid;
        border-width: 2px;
        padding: 4px;
        border-radius: 50%;
        box-shadow: none;
        margin: 11.5px 0px;
        background-color: transparent;
        border-color: rgba(183, 101, 255, 0.96);
    }
    .edu-line-line{
        background: rgb(133, 76, 230);
        width: 2px;
        -webkit-box-flex: 1;
        flex-grow: 1;
    }
    .edu-right{
        margin: 0px;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.5;
        letter-spacing: 0.00938em;
        flex: 1 1 0%;
        text-align: left;
        padding: 12px 16px;
    }
    .edu-details{
        border-radius: 10px;
        padding: 12px 16px;
        -webkit-box-pack: justify;
        justify-content: space-between;
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        gap: 12px;
        transition: all 0.3s ease-in-out 0s;
        border: 0.1px solid rgb(48, 110, 232);
        box-shadow: rgba(23, 92, 230, 0.15) 0px 4px 24px;
    }
    .edu-details-sec-1{
        width: 100%;
        display: flex;
        gap: 12px;
    }
    .edu-details-sec-1 img{
        height: 50px;
        background-color: rgb(0, 0, 0);
        border-radius: 10px;
        margin-top: 4px;
    }
    .edu-title{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .edu-title-head{
        font-size: 14px;
        font-weight: 600;
        color: rgba(242, 243, 244, 0.6);
    }
    .edu-title-name{
        font-size: 12px;
        font-weight: 500;
        color: rgba(177, 178, 179, 0.6);
    }
    .edu-title-date{
        font-size: 10px;
        font-weight: 400;
        color: rgba(177, 178, 179, 0.5);
    }
    .edu-details-sec-2{
        width: 100%;
        font-size: 12px;
        font-weight: 400;
        color: rgba(242, 243, 244, 0.6);
        margin-bottom: 10px;
    }
    .edu-details-sec-2 img{
        height: 70px;
        width: 55px;
        background-color: rgb(0, 0, 0);
        border-radius: 10px;
    }
    .edu-para{
        overflow: hidden;
        display: -webkit-box;
        max-width: 100%;
        -webkit-line-clamp: 4;
        line-clamp: 4;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
    }
    .edu-score{
        margin-bottom: 10px;
        display: flex;
        font-size: 12px;
        font-weight: 500;
        color: rgba(177, 178, 179, 0.6);
    }
}
